@font-face {
    font-family: 'NeonEnergy';
    src: url('../fonts/neonenergy.ttf') format('truetype');
  }
@font-face {
    font-family: 'BookAntiqua';
    src: url('../fonts/bookantiqua.ttf') format('truetype');
  }