.blockform {
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    height: 500px;
    width: 100px;

    &::before {
        content: "";
        position: absolute;
        top: -70%;
        left: -50%;
        height: 130%;
        width: 100%;
        background: linear-gradient(0deg, transparent, #045a70, #045a70);
        transform-origin: bottom right;
        animation: turnAroundForm 8s linear infinite;
    }

    &::after {
        content: "";
        position: absolute;
        top: -70%;
        left: -50%;
        height: 130%;
        width: 100%;
        background: linear-gradient(0deg, transparent, #045a70, #045a70);
        transform-origin: bottom right;
        animation: turnAroundForm 8s linear infinite;
        animation-delay: -4s;
    }

    .backgroundForm {
        background: $form_gradiant_color;
        z-index: 10;
        position: absolute;
        inset: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2%;
        border-radius: 20px;
        h3{
            color: $text_color_text_grey;
        }

        p {
            color: $text_color_text_grey;
            margin: 6% 0 0 0;
            padding: 0;
        }

        form {
            width: 100%;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;

            label {
                display: none;
            }

            input {
                border-radius: 10px;
                background-color: $blockContent_background_content;

                &::placeholder {
                    padding: 0 10%;
                    color: $blueBtn_color;
                    font-family: 'NeonEnergy', sans-serif;
                }
            }
        }

        .myButton {
            margin-top: 3%;
            background: $blueBtn_color;
            border-radius: 10px;

            &:hover {
                box-shadow: 1px 1px 0px black;
                background-color: $site_blue;
            }
        }

        form {
            display: flex;

            .formContact {
                display: flex;

                .formContactInput {
                    display: flex;
                    flex-direction: column;
                    width: min-content;

                    .formContactName {
                        display: flex;
                    }

                    .formContactInfos {
                        display: flex;
                        flex-direction: column;
                    }

                }

                .formContactMessage {
                    div {
                        height: 100%;

                        textarea {
                            height: 100%;
                            border-radius: 10px;
                            background-color: $blockContent_background_content;
                            resize: none;
            
                            &::placeholder {
                                padding: 0 10%;
                                color: $blueBtn_color;
                                font-family: 'NeonEnergy', sans-serif;
                            }
                            
                        }
                    }
                } 
            }
        }
    }
}


@keyframes turnAroundForm {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}