{% block toptext %}
	</div>
		<img src="{{ asset('assets/logo/logo.webp') }}" alt="Logo">

	</div>
{% endblock %}




<div class='backgroundLittleMenu'>

<div class='littleMenu'>
<a class="btn btn-sm" role="button" href="{{ path('app_home') }}">Explorer</a>

<div class='bottomLittleMenu'>
	<div id="leftGallery" class="littleMenuGalleryUser">
		<p>?????</p>
		<p>Galleries</p>
	</div>
	<div id="rightUser" class="littleMenuGalleryUser">
		<p>?????</p>
		<p>Utilisateurs</p>
	</div>
</div></div>
