{% extends 'base.html.twig' %}

{% block title %}Catégorie
{% endblock %}

{% block body %}
{% block toptext %}
		<div id='topContent'>
			<div class="topText topWithFont">
				<p class="gradient-text">Les catégories</p>
	{% endblock %}

	{% block pagecontent %}
		<div id="backgroundContent">
			<section>

			</section>
		</div>
	{% endblock %}
{% endblock %}
