{% extends 'base.html.twig' %}

{% block title %}DMCA
{% endblock %}

{% block body %}
{% block toptext %}
		<div id='topContent'>
			<div class="topText topWithFont">
				<p class="gradient-text">DMCA</p>
			{% endblock %}
	{% block pagecontent %}
		<div id="backgroundContent">
			<section>

				<div class='blockContent'>
					<div class="contentleft">
						<p>
							Le DMCA (Digital Millennium Copyright Act) est une loi américaine adoptée en 1998 pour protéger les droits d'auteur dans le contexte numérique. Cette loi régit les droits et les responsabilités des propriétaires de droits d'auteur, des fournisseurs de services en ligne et des utilisateurs d'Internet en ce qui concerne le contenu protégé par le droit d'auteur, y compris les actifs numériques tels que les images, les vidéos, les œuvres d'art, et même les NFTs (Non-Fungible Tokens).</p>
					</div>
					<p>
						Le DMCA intervient dans le contexte des NFTs en ce qui concerne les droits d'auteur. Si un NFT représente une œuvre protégée par le droit d'auteur, la loi du DMCA peut être utilisée pour signaler et faire retirer tout contenu NFT qui enfreint les droits d'auteur. Les détenteurs de droits d'auteur ont toujours le droit de protéger leur travail et de signaler toute utilisation non autorisée, y compris dans le contexte des NFTs.</p>

				</div>

				<div class='blockContent'>
					<div class="contentleft">
						<p>
							Il est important de noter que les NFTs sont basés sur des technologies décentralisées et peuvent être créés et échangés sur différentes plateformes, rendant le suivi et le contrôle du contenu plus complexes. Cela soulève des questions juridiques et des défis concernant la propriété des droits d'auteur pour les œuvres vendues sous forme de NFTs, car le droit d'auteur peut être transféré ou conservé par l'artiste ou le créateur initial.</p>
					</div>

					<div class="contentright">
						<p>
							En raison de ces défis, il n'y a pas encore de consensus clair sur la manière dont le DMCA s'applique spécifiquement aux NFTs. Cela reste un sujet de discussion dans la communauté juridique et dans l'écosystème des NFTs, et les règles et réglementations peuvent évoluer à mesure que le domaine des NFTs se développe.</p>

					</div>
				</div>

				<div class='blockContent blockPositionRelative'>
					<div class="contentleft">
						<p>
							Le DMCA est un outil important dans la protection des droits d'auteur à l'ère numérique, mais il est également critiqué pour certains de ses aspects, tels que les abus potentiels des avis de retrait et le manque de responsabilité des fournisseurs de services en ligne dans certains cas.</p>
					</div>

					<div class="contentright">
						<p>
							En conclusion, le DMCA joue un rôle crucial dans la régulation des droits d'auteur et du contenu en ligne, y compris dans le contexte des NFTs. Cependant, il reste des défis à relever pour adapter la législation aux évolutions constantes du monde numérique et des nouvelles technologies.</p>

						<a href="{{ path('app_home') }}">
							<p class='oursteam'>L’équipe Cognitive Chronicles Game</p>
						</a>
					</div>
				</div>

			</section>
		</div>
	{% endblock %}
{% endblock %}
