{% extends 'base.html.twig' %}

{% block title %}NFT
{% endblock %}

{% block body %}
	{% block toptext %}
		<div id='topContent'>
			<div class="topText topWithFont">
				<p class="gradient-text">Qu'est-ce qu'un nfts ?</p>
			{% endblock %}

			{% block pagecontent %}
				<div id="backgroundContent">
					<section></section>
				</div>
			{% endblock %}
		{% endblock %}
