{% extends 'base.html.twig' %}

{% block title %}NFT
{% endblock %}

{% block body %}
	{% block toptext %}
		<div id='topContent'>
			<div class="topText topWithFont">
				<p class="gradient-text">Qu'est-ce qu'un nfts ?</p>
			{% endblock %}

			{% block pagecontent %}
				<div id="backgroundContent">
					<section>
						<div class='blockContent'>
							<div class="contentleft">
								<p>
									Un NFT, ou Non-Fungible Token, est un jeton numérique unique qui utilise la technologie de la blockchain pour représenter la propriété ou la preuve d'authenticité d'un actif numérique spécifique. Contrairement aux cryptomonnaies telles que le Bitcoin ou l'Ethereum, qui sont fongibles et peuvent être échangées contre une autre unité de valeur équivalente, chaque NFT est unique et ne peut pas être remplacé par un autre jeton.</p>

								<p>
									Les NFTs sont utilisés pour certifier l'authenticité et la propriété d'actifs numériques tels que des images, des vidéos, des morceaux de musique, des œuvres d'art numériques, des jeux vidéo, des articles de collection, et bien plus encore. Chaque NFT contient des métadonnées qui décrivent en détail l'actif qu'il représente, y compris des informations sur l'auteur, la date de création, la rareté, et toute autre caractéristique pertinente.</p>

							</div>
						</div>
						<div class='blockContent'>
							<div class="contentleft">
								<p>
									La technologie de la blockchain garantit la traçabilité et l'immuabilité des NFTs. Chaque transaction liée à un NFT est enregistrée dans un registre décentralisé, appelé blockchain, ce qui permet de vérifier l'authenticité et la propriété de l'actif à tout moment. Cela offre une nouvelle dimension de valeur et de confiance pour les créateurs et les acheteurs d'actifs numériques.</p>

								<p>
									Le marché des NFTs a connu une croissance fulgurante ces dernières années, attirant l'attention des artistes, des collectionneurs, des célébrités et des investisseurs du monde entier. Les NFTs offrent aux artistes numériques une nouvelle façon de monétiser leur travail et de se connecter directement avec leur public, tandis que les collectionneurs peuvent acquérir des actifs uniques et authentiques avec des preuves de propriété vérifiables.</p>

							</div>
						</div>
						<div class='blockContent'>
							<div class="contentleft">
								<p>
									Cependant, comme tout marché émergent, le monde des NFTs suscite également des questions et des défis, notamment en ce qui concerne la protection des droits d'auteur, la durabilité environnementale due à la consommation d'énergie requise par la blockchain, ainsi que la volatilité des prix sur les plateformes de vente aux enchères.
								</p>

								<p>
									En résumé, les NFTs sont des jetons numériques uniques qui permettent de représenter la propriété et l'authenticité d'actifs numériques. Grâce à la technologie de la blockchain, les NFTs ont ouvert de nouvelles perspectives pour la créativité, la propriété intellectuelle et la collecte d'œuvres d'art et d'autres actifs numériques dans le monde numérique moderne.
								</p>

							</div>
						</div>
					</section>
				</div>
			{% endblock %}
		{% endblock %}
