$headerandfooter_background_color: #646464;
$body_background_color: #333333;
$blockContent_background_content: #D9D9D9;
$site_blue: #06D1D7;
$site_gradient_color: linear-gradient(0deg, rgba(3,106,126,1) 0%, rgba(9,255,254,1) 100%);
$form_gradiant_color: linear-gradient(180deg, #045a70 0%, #000000 100%);
$section_background_color: linear-gradient(180deg, rgba(5, 77, 95, 0.432) 0%, rgba(0,0,0,0) 100%);
$text_color_text_grey: #EAEAEA;
$blueBtn_color: #0E9FA8;